// ------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------
// 1. Arial .......... Text font
// 2. Arial .......... Headings font
// 3. Arial .......... Code font
// ------------------------------------------------------------------

@font-face {
	font-family: Arial;
	}
@font-face {
	font-weight:bold;
	font-family:Arial;
	}
@font-face {
	font-style:italic;
	font-family:Arial;
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:Arial;
	}

@font-face {
	font-family:Arial;
	font-weight:bold;
	}

@font-face {
	font-family:Arial;
	}
